@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
	--surface: #ffffff;
	--line: #eacdcd;

  --muted: #ede9ef;
  --muted-foreground: #64748b;
 
  --primary-light: #eacdcd;
  --primary: #950303;
  --primary-dark: #1e0101;
  
  --secondary-light: #f9f0f0;
  --secondary: #eacdcd;
  --secondary-dark: #2f2929;
  
  --accent-light: #fef3c7;
  --accent: #f59e0b;
  --accent-dark: #b45309;
  
}

@theme inline {
	
  --color-background: var(--background);
  --color-foreground: var(--foreground);
	--color-surface: var(--surface);
	--color-line: var(--line);


  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);


  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);


  --color-secondary-light: var(--secondary-light);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
 

  --color-accent-light: var(--accent-light);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);


  --font-sans: var(--font-jost);
  --font-sans-headings: var(--font-bricolageGrotesque);
  --font-mono: var(--font-geist-mono);
}

/* 
xs= 375px 
sm= 440px 
tab-sm= 560px 
tab= 750px 
tab-xl= 880px 
dtop-sm= 1080px 
dtop= 1280px 

*/

@theme {
  --breakpoint-xs: 23.5em;
  --breakpoint-sm: 27.5em;
  --breakpoint-tab-sm: 35em;
  --breakpoint-tab: 46.87em;
  --breakpoint-tab-xl: 55em;
  --breakpoint-dtop-sm: 67.5rem;
  --breakpoint-dtop: 80rem;
}


body {
  background: var(--background);
  color: var(--foreground);

}

h1, h2, h3, h4{
	
	  font-family: var(--font-sans-headings)
}